@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Quicksand;
}

.header {
  width:100%;
  height: 200px;
  font-family: Quicksand;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  padding-top: 1%;
  color: #777;
  z-index: 9999;
  background-color:white;
  border-bottom: solid 3px #ffe0f8;
}

#logo {
  width:20%;
  height:150px;
  border-radius: 20px;
  padding: 3px;
  border: 1px #777 dashed;
  text-align: center;
}

#logo img {
  border-radius: 100%;
  height: 65px;
  padding-top: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5b0e5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}

.linkbar {
  width:125px;
  display:flex;
  align-content:space-around;
  flex-direction: column;
  font-size: 14px;
  padding-top: 10px;
}

.linkbar a {
  width: 80%;
  color: #777;
  background-color: #ffe0f8;
  text-decoration: none;
  margin-top: 5px;
  padding: 2px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.8s ease;
}

.linkbar a:hover {
  width:100%;
  color: #ffe0f8;
  background-color: white;
}

h1 {
  font-family: Quicksand;
  color: white;
  font-size: 25px;
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.contentbox {
  background-image: url("https://live.staticflickr.com/5095/5403920563_1f3528feb7_b.jpg");
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

a {
  color:#fff;
  text-decoration:none;
}

.container  {
  margin:0 auto;
  display:grid;
}

.thumb-box {
  display:flex;
  max-width:33.3333%;
  margin:0 15px;
  position:relative;
  border-radius: 20px;
}


.thumb-box a {
  padding:0;
  position: relative;
  width: 100%;
  height: 100%;
  z-index:9997;
}

.thumb-box img {
  width:100%;
  height:280px;
  float:left;
  border-radius: 20px;
}

.overlay-box {
  position:absolute;
  bottom:0;
  width:90%;
  z-index:9998;
  left:0;
  padding:5%;
  background-image: linear-gradient(to bottom, transparent, rgba(80, 12, 46, 0.75));
  border-radius: 0px 0px 20px 20px;
}

.meta {
  font-size:14px;
  display:block;
  
}

.main-title {
  font-size:16px;
  display:block;
  font-weight:700;
  text-shadow:0 0 1px rgba(0,0,0,0.5);
}

.description {
  color:#ccc;
  font-size:13px;
  margin-top:5px; 
  display:block;
  color: #ccc;
  max-height: 0;
  line-height: 18px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
}

.thumb-box a:hover .description {
  opacity:1;
  max-height: 100px;
  margin-top: 5px;
  transition: opacity 0.4s ease-out, max-height 0.9s ease-out
}

.thumb-box a:hover .overlay-box {
  background-image: linear-gradient(to bottom, transparent, rgba(80, 12, 46, 0.75));
}

h2 {
  font-family: quicksand;
  position: absolute;
  width: 200px;
  color: white;
  font-size: 20px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  bottom: 120px;
  left: -5px;
}